button{
    margin: 10% 48%;
    border: none;
    height: 120px;
    width: 120px;
    font-size: 5em;
    border-radius: 25px;
    background: rgb(0, 0, 0);
    color: aliceblue; 
    cursor: pointer;
}